/**********************/
/***Background Image***/
/**********************/

.backgroundImage {
  Position:fixed;
  Top: 0;
  left: 0%;
  /* Width: 100vh; */
  Height: 100vh;
  Opacity: 0.35;
  Z-index: -5000;
}

.backgroundImage img {
  width:100vw;
  height: 135vh;
  object-fit: cover;
}

main{
/* color scheme - https://www.colorcombos.com/color-schemes/187/ColorCombo187.html*/
  color: #CC6633;
  color: #FF9900;
  color: #999999;
  color: #CCCCCC;
  color: #771100;
  margin-bottom: 2.1rem;
}
/**********************/
/*caculator containers**/
/**********************/
#container{
  background-color: #771100;
  height: 75vmin;
  width: 60vmin;
  Position:fixed;
  Top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6%;
  
}

#solution-container{
  border-radius: 12px;
  width: 91%;
  height: 14%;
  background-color: #999999;
  margin: 5%;
  margin-bottom: 3%;
  font-size: xx-large;
  font-size: 4.5vmin;
  font-weight: bold;
  text-align: right;
}

#solution{
  padding: 4.5%;
}
.calc-button{
  font-size: xx-large;
}
#num-container{
  width: 85%;
  height: 71%;
  margin-left: 5%;
  border-radius: 4%;
  background-color: #f53c1c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2.5%;
  padding: 3%


}

#operator-container{
  grid-column: 4/5;
  grid-row: 1/ 5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 2%;
}

input{
  border-radius: 12%;
	color: black;
  cursor: pointer;
	transition: all .5s;
	background-color: #CCCCCC;

  border-right-width: .5vmin ;
  border-bottom-width: .5vmin ;
  border-color: #999999;
  border-right-color: #CC6633 ;
  border-bottom-color: #CC6633 ;
  
}

input:focus{
  outline: none;
}

.operator-button:focus {
    background-color: #999999;
}

.operator-button-focus{
  background-color: #999999;
}






/**********************/
/*caculator container**/
/**********************/
.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #7a7a7a;
  padding: .3rem;
  margin-left: -.6rem;
  color: #FF9900;
  bottom: 0;
  vertical-align: top;
}

.fixed-footer img {
  height: 1.3rem;
  vertical-align: bottom;
  padding: 0 2px;
}
/**********************/
/*****media querry*****/
/**********************/
@media screen and (max-width: 1080px) {
  #container{
    height: 120vmin;
    width: 95vmin;
  }
}

@media (orientation: landscape){
  #container{
    height: 75vmin;
    width: 60vmin;
  }
}