/**********************/
/***Background Image***/
/**********************/

.backgroundImage {
  Position:fixed;
  Top: 0;
  left: 0%;
  /* Width: 100vh; */
  Height: 100vh;
  Opacity: 0.35;
  Z-index: -5000;
}

.backgroundImage img {
  width:100vw;
  height: 135vh;
  object-fit: cover;
}

main{
/* color scheme - https://www.colorcombos.com/color-schemes/187/ColorCombo187.html*/
  color: #CC6633;
  color: #FF9900;
  color: #999999;
  color: #CCCCCC;
  color: #771100;
  margin-bottom: 2.1rem;
}
/**********************/
/*caculator containers**/
/**********************/
#container{
  background-color: #771100;
  height: 75vmin;
  width: 60vmin;
  Position:fixed;
  Top: 48%;
  left: 50%;
  transform: translate(-48%, -50%);
  border-radius: 6%;
  
}

#solution-container{
  border-radius: 12px;
  width: 90%;
  height: 15%;
  background-color: #999999;
  margin: 5%;
  font-size: 5.5vmin;
  font-weight: bold;
  text-align: right;
  /* display: flex; */
}

#solution{
  padding: 2.8%;
}
.calc-button{
  font-size: xx-large;
}
#num-container{
  width: 85%;
  height: 73%;
  margin: 5%;
  background-color: #751c0d;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto;
  gap: 2%;


}

#operator-container{
  grid-column: 4/5;
  grid-row: 1/ 5;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 2%;
}

input{
  border-radius: 12%;
	color: black;
  /* border-color: chocolate; */
  cursor: pointer;
	transition: all .5s;
	background-color: #CCCCCC;

  border-right-width: .5vmin ;
  border-bottom-width: .5vmin ;
  border-color: #999999;
  border-right-color: #CC6633 ;
  border-bottom-color: #CC6633 ;
  
}

.operator-button:focus {
    background-color: #999999;
}






/**********************/
/*caculator container**/
/**********************/
.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #7a7a7a;
  padding: .3rem;
  margin-left: -.6rem;
  color: #FF9900;
  bottom: 0;
  vertical-align: top;
}

.fixed-footer img {
  height: 1.3rem;
  vertical-align: bottom;
  padding: 0 2px;
}
/**********************/
/*****media querry*****/
/**********************/
@media screen and (max-width: 1080px) {
  #container{
    height: 100vmin;
    width: 85vmin;
  }
}